{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="naver-site-verification" content="61e0fad189d98c2f3b58f5005d82ecf97aefcd3c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}미생물의 똑똑한 하루{% endblock %}</title>
    <meta name="description" content="소소한 블로그와 미니게임, 돌림판과 사다리타기">
    <meta name="keywords" content="미생물의 똑똑한 하루, 미생물 게임, 2048, 워들, 살모넬라, 생명과학 블로그">
    <link rel="canonical" href="https://monosaccharide180.com/">
    
    <meta property="og:title" content="smart microbe">
    <meta property="og:description" content="소소한 블로그와 미니게임, 돌림판과 사다리타기">
    <meta property="og:image" content="{% static 'core/img/og-image.png' %}">
    <meta property="og:url" content="https://monosaccharide180.com/">
    
    <link rel="icon" type="image/png" href="{% static 'core/img/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'core/img/favicon.png' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}?v=1.0">
    
    {% block extra_css %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav>
        <a href="{% url 'home' %}" style="text-decoration: none; color: inherit;">
            <div class="logo">미생물의 똑똑한 하루</div>
        </a>
        
        <div class="nav-links">
            <a href="{% url 'blog_home' %}">Blog</a>
            
            <a href="{% url 'home' %}#utility">Utility</a>
            
            <a href="{% url 'games_lobby' %}">Games</a>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'core/js/daily_pick.js' %}?v=2"></script>
    
    <script src="{% static 'core/js/roulette.js' %}"></script>

    {% block extra_script %}
    {% endblock %}
</body>
</html>